table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 4px;
}

th {
  cursor: pointer;
}

th:hover {
  background: yellow;
}

#resizable-content {
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.active {
  width: 10px;
  height: 10px;
  background-color: grey;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
